body{
    background-color: #eba8ac;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 300%;
    text-decoration-line: underline;
}

.Rahmen{
    border-style: solid;
    border: 1px 1px 1px 1px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(250, 209, 223);
    font-size: 20px;
    width: fit-content;
}

.textfeld {
    text-align: center;
}
.timeSelect{
    text-align: center;
}
.fontType{
    text-align: center;
}
.cardColor{
    text-align: center;
}
.fontColor{
    text-align: center;
}